body {
  font-family: "Open Sans", sans-serif;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    background: rgba(229, 84, 115, 0.10);
    
}
.first-img{
    width: 600px;
    padding-top: 40px;
}
}
.banner-content {
  margin: 150px 97px 80px 147px;
}
.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 30px;
  width: 600px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
}
